<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Solo Passport Challenge --- Login</title>
  </head>
  <body>
    <form action="/register" method="post">
      <div>
       <label for="username">Username:</label>
       <input type="text" name="username" id="username"/>
     </div>
     <div>
       <label for="password">Password:</label>
       <input type="password" name="password" id="password"/>
     </div>
     <div>
       <label for="admin">Unicorn? </label>
       <input type="checkbox" name="admin" id="admin"/>
     </div>
     <div>
         <input type="submit" value="Log In"/>
     </div>
    </form>
  </body>
</html>
